gradio>=4.0.0
numpy
torch>=2.5.1
torchaudio
torchvision
torchmetrics==0.11.4
onnxruntime==1.17.0
pyannote.audio>=3.0.0
faster-whisper
fastapi
python-multipart
uvicorn[standard]
omegaconf
deepmultilingualpunctuation
yt-dlp
whisperx